@charset "UTF-8";

.os-lazy-iframe {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    background-color: #000;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
}

.os-lazy-iframe .os-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 48px;
    background-color: rgba(33, 33, 33, 0.8);
    border-radius: 12px;
    z-index: 1;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.os-lazy-iframe:hover .os-play-btn {
    background-color: #f00;
}

.os-lazy-iframe .os-play-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent #fff;
}

.os-lazy-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
